/* ==================== BASE ==================== */

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    width: 100%;
}

body {
    background-color: rgb(228, 218, 237);
    font-family: system-ui, -apple-system, BlinkMacSystemFont;
    padding-top: 52px;
}


/* ==================== MENU ==================== */

nav {
    display: flex;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    padding: 6px 10px;

    background-color: #4b1aab;
    
    z-index: 1000;
}

/* Tous les liens du menu */

nav a {
    color: rgb(228, 218, 237);
    text-decoration: none;
}


/* Liens Accueil / Entreprise / Services / Infrastructures */

.menu {
    display: flex;
    gap: clamp(15px, 4vw, 50px);

    margin-left: auto;
    margin-right: auto;
}


/* Effet quand la souris passe dessus */

nav a:hover {
    text-decoration: underline;
    text-decoration-color: rgb(228, 218, 237);
    text-decoration-thickness: 2px;
    text-underline-offset: 6px;
}


/* ==================== ACCUEIL ==================== */

.accueil {
    width: 100%;

    background-image: url("fond_accueil.png");
    background-size: 190% auto;
    background-position: center;
    background-repeat: no-repeat;

    min-height: 500px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 0;
}


/* ==================== TITRES ==================== */

h1 {
    text-align: center;

    font-size: clamp(32px, 4vw, 50px);

    font-family: system-ui, -apple-system, BlinkMacSystemFont;

    margin-top: 0;
    margin-bottom: 7%;
}





/* ==================== PARAGRAPHES ==================== */

p {
    text-align: left;
    line-height: 2;

    width: 90%;
    max-width: 1100px;

    margin: 3px auto;
}
#p1 {
    margin: 0 auto;
    max-width: 650px;
    padding: 20px;
    line-height: 1.8;
}



/* ==================== FOOTER ==================== */

footer {
    padding: 30px;

    text-align: center;
    margin-top: auto;
    background-color: #4b1aab;
    color: rgb(228, 218, 237);
}


/* ==================== FONDS TEXTURÉS ==================== */

.fond_texture {
    background-image: url("fond_texture.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    color: #6e1e7e;

    padding: 90px 30px;
}



/* ==================== TABLETTE ==================== */

@media (max-width: 768px) {

    .menu {
        gap: 15px;
    }

    .accueil {
        background-size: cover;
        min-height: 450px;
    }

}


/* ==================== TÉLÉPHONE ==================== */

@media (max-width: 600px) {

    nav {
        flex-wrap: wrap;
    }

    .menu {
        width: 100%;

        justify-content: center;

        margin-top: 8px;

        gap: 15px;
    }

    body {
        padding-top: 90px;
    }

    .accueil {
        min-height: 400px;
    }

}
